body{
  font-family: 'Roboto';
}

.container-div{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #eeeef3;
  border-radius: 8px;
  border: 1px solid #dfdfe6;
  top: 75px;
  bottom: 75px;
  left: 75px;
  right: 75px;
}

.accordion{
  width: 100%;
}
.accordion-button {
  padding: 5px 8px !important;
  width: 100%;
  font-size: 14px;
}

.accordion-button::after{
  background-size: 20px 20px
}